---
import Header from "@components/Header.astro";
import Logo from "@components/Logo.astro";
import Layout from "src/layouts/Layout.astro";
---

<Layout title="MUPA | Página no encontrada">
  <div
    class="w-full bg-white rounded-3xl grid flex-grow p-8 transition-all duration-200"
    transition:name="main-bg"
  >
    <header></header>
    <main class="w-full flex items-center justify-center flex-wrap self-start">
      <Logo size="large" />
      <nav class="-ml-8 grid gap-2">
        <h1 class="text-3xl text-light-grey">
          <strong class="text-dark-grey text-5xl">arquitectas</strong>
          <br /> referentes
        </h1>
        <ul class="flex flex-col gap-1 font-source-code ml-12"></ul>
      </nav>
    </main>
  </div>
</Layout>
