---
import Header from "@components/Header.astro";
import Shapes from "@components/Shapes.astro";
import Layout from "src/layouts/Layout.astro";
---

<Layout title="MUPA | P치gina no encontrada">
  <Header />
  <main class="h-full w-full flex justify-center items-center flex-col">
    <Shapes size="normal" />
    <!-- <img
      src="/404.jpeg"
      alt="404 image"
      width="1000"
      height="900"
      class="aspect-[10/9] max-w-xl grayscale"
    /> -->
    <p class="font-source-code text-2xl">Esta secci칩n est치 en construcci칩n</p>
  </main>
</Layout>
