---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Logo from "@components/Logo.astro";
import Layout from "src/layouts/Layout.astro";
---

<Layout title="MUPA | Página no encontrada">
  <Header />
  <main></main>
  <Footer />
</Layout>
