---
import Shapes from "@components/Shapes.astro";
import Layout from "../layouts/Layout.astro";
import SectionNameItem from "@components/SectionNameItem.astro";
import Logo from "@components/Logo.astro";
import BlurredBackground from "@components/BlurredBackground.astro";

import { ARCHITECTS } from "../data/architects.js";
---

<Layout title="Mujeres, patrimonio y arquitectura local">
  <BlurredBackground />

  <header
    class="w-full grid items-center justify-center h-fit sm:h-full py-10 sm:py-0"
  >
    <div class="flex flex-col sm:flex-row items-center gap-0">
      <Logo size="large" />
      <aside class="grid gap-2 sm:-mt-8">
        <Shapes size="large" />
        <nav class="w-fit mx-auto -mt-8">
          <h1 class="text-3xl text-light-grey">
            <strong class="text-dark-grey text-5xl">arquitectas</strong>
            <br /> referentes
          </h1>
          <ul class="flex flex-col gap-1 font-source-code">
            {
              ARCHITECTS.map((architect) => (
                <SectionNameItem name={architect.name} url={architect.url} />
              ))
            }
          </ul>
        </nav>
      </aside>
    </div>
  </header>
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const shapes = document.querySelectorAll(".shapes");
    const items = document.querySelectorAll(".architect_items");

    items.forEach((item, index) => {
      item.addEventListener("mouseover", () => {
        shapes.forEach((shape, i) => {
          if (index !== i) {
            shape.classList.add("focused");
          }
        });
      });

      item.addEventListener("mouseout", () => {
        shapes.forEach((shape) => {
          shape.classList.remove("focused");
        });
      });
    });
  });
</script>
