---
import Layout from "@layouts/Layout.astro";
import Logo from "@components/Logo.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import LogoWrapper from "@components/LogoWrapper.astro";
import CardsList from "@components/CardsList.astro";
---

<Layout overflow title="Mujeres, patrimonio y arquitectura local">
  <Header logo={false} />
  <main class="w-full flex flex-col items-center px-6 sm:px-12">
    <LogoWrapper>
      <Logo large />
    </LogoWrapper>
    <section class="sm:-mt-16 w-full">
      <h1
        class="text-3xl text-light-grey font-light leading-none text-end sm:text-right sm:mb-auto"
      >
        <strong class="text-5xl font-helvetica font-medium text-dark-grey"
          >arquitectas</strong
        >
         referentes
      </h1>
      <CardsList />
    </section>
  </main>
  <Footer />
</Layout>

<script>
  function addMouseEvents() {
    const shapes = document.querySelectorAll(".shapes");
    const items = document.querySelectorAll(".architect_items");
    items.forEach((item) => {
      item.addEventListener("mouseover", () => {
        shapes.forEach((shape) => {
          if (!shape.id.includes(item.id)) {
            shape.classList.add("unfocused");
          }
        });
      });

      item.addEventListener("mouseout", () => {
        shapes.forEach((shape) => {
          shape.classList.remove("unfocused");
        });
      });
    });
  }
  // Works with browsers that support View Transition API. ex. Chrome, Edge.
  document.addEventListener("astro:page-load", addMouseEvents);
  // For Firefox and Safari that no support View Transitions
  addMouseEvents();
</script>
