<div
  class="absolute -z-10 top-0 right-0 left-0 bottom-0 overflow-x-hidden opacity-60"
>
  <div class="relative w-full h-1/2 -mt-[40rem] sm:-mt-[40vh]">
    <div
      class="absolute top-0 -left-[15rem] w-[29rem] h-[29rem] bg-red mix-blend-multiply animate-blob blur-[10rem] animate-delay-1"
    >
    </div>
    <div
      class="absolute top-0 left-[8rem] w-[31rem] h-[31rem] bg-yellow mix-blend-multiply animate-blob blur-[10rem] animate-delay-2"
    >
    </div>

    <div
      class="absolute top-0 left-[32rem] w-[30rem] h-[30rem] bg-ocher mix-blend-multiply animate-blob blur-[10rem] animate-delay-3"
    >
    </div>
    <div
      class="absolute top-0 right-[32rem] w-[29rem] h-[29rem] bg-blue mix-blend-multiply animate-blob blur-[10rem] animate-delay-4"
    >
    </div>
    <div
      class="absolute top-0 right-[8rem] w-[30rem] h-[30rem] bg-purple mix-blend-multiply animate-blob blur-[10rem] animate-delay-5"
    >
    </div>
    <div
      class="absolute top-0 -right-[15rem] w-[31rem] h-[31rem] bg-fuchsia mix-blend-multiply animate-blob blur-[10rem] animate-delay-6"
    >
    </div>
  </div>
</div>

<style>
  .animate-delay-1 {
    animation-delay: 100ms;
  }
  .animate-delay-2 {
    animation-delay: 500ms;
  }
  .animate-delay-3 {
    animation-delay: 1000ms;
  }
  .animate-delay-4 {
    animation-delay: 1400ms;
  }
  .animate-delay-5 {
    animation-delay: 1800ms;
  }
  .animate-delay-6 {
    animation-delay: 2400ms;
  }
</style>
