<div class="absolute -z-10 top-0 right-0 left-0 bottom-0 overflow-hidden">
  <div class="relative w-full h-full flex opacity-60">
    <div
      class="absolute -bottom-12 -left-[24rem] w-[30rem] h-[20rem] bg-red mix-blend-multiply animate-delay-6 animate-background blur-[8rem]"
    >
    </div>
    <div
      class="absolute -bottom-32 left-0 w-[30rem] h-[20rem] bg-red mix-blend-multiply animate-delay-3 animate-background blur-[8rem]"
    >
    </div>
    <div
      class="absolute -bottom-44 left-[24rem] w-[30rem] h-[20rem] bg-yellow mix-blend-multiply animate-delay-7 animate-background blur-[8rem]"
    >
    </div>

    <div
      class="absolute -bottom-72 left-[36rem] w-[30rem] h-[20rem] bg-ocher mix-blend-multiply animate-delay-5 animate-background blur-[8rem]"
    >
    </div>
    <div
      class="absolute -bottom-72 right-[36rem] w-[30rem] h-[20rem] bg-ocher mix-blend-multiply animate-delay-4 animate-background blur-[8rem]"
    >
    </div>
    <div
      class="absolute -bottom-44 right-[24rem] w-[30rem] h-[20rem] bg-blue mix-blend-multiply animate-delay-1 animate-background blur-[8rem]"
    >
    </div>
    <div
      class="absolute -bottom-32 right-0 w-[30rem] h-[20rem] bg-purple mix-blend-multiply animate-delay-8 animate-background blur-[8rem]"
    >
    </div>
    <div
      class="absolute -bottom-12 -right-[24rem] w-[30rem] h-[20rem] bg-fuchsia mix-blend-multiply animate-delay-2 animate-background blur-[8rem]"
    >
    </div>
  </div>
</div>

<style>
  .animate-delay-1 {
    animation-delay: 0.1s;
  }
  .animate-delay-2 {
    animation-delay: 0.3s;
  }
  .animate-delay-3 {
    animation-delay: 0.8s;
  }
  .animate-delay-4 {
    animation-delay: 1.2s;
  }
  .animate-delay-5 {
    animation-delay: 1.5s;
  }
  .animate-delay-6 {
    animation-delay: 2s;
  }
  .animate-delay-7 {
    animation-delay: 2.2s;
  }
  .animate-delay-8 {
    animation-delay: 2.4s;
  }
</style>
