<p
  class="font-light text-xs font-source-code text-light-grey absolute hidden xl:block right-0 bottom-0"
>
  Desarrollado con ❤ por <a
    class="hover:underline"
    href="https://github.com/Strocs">StrocsDev</a
  >
</p>
