---
import InstitucionalLogos from "@components/InstitucionalLogos.astro";
---

<footer class="h-fit w-full flex justify-between items-end">
  <p class="font-light font-source-code text-light-grey">
    Desarrollado con ❤️ por StrocsDev
  </p>
  <InstitucionalLogos />
</footer>
