---
import InstitucionalLogos from "./InstitucionalLogos.astro";
import InstagramIcon from "./icons/InstagramIcon.astro";
import YouTubeIcon from "./icons/YouTubeIcon.astro";
---

<footer
  id="main_footer"
  class="h-fit w-full flex flex-col xl:flex-row gap-6 items-center justify-between self-end relative my-6 z-50 px-6 md:px-12"
>
  <div class="flex flex-col w-full gap-6 xl:w-fit">
    <div
      class="bg-[url('/noise.png')] bg-left-top h-8 w-full bg-cover bg-no-repeat bg-fixed rounded-lg"
    >
    </div>
    <div
      class="font-source-code text-dark-grey text-center flex flex-col xl:flex-row items-center gap-2"
    >
      <p>MUPA 2023 | Conoce más:</p>
      <ul class="flex gap-4 items-center justify-center">
        <li>
          <a
            class="hover:text-light-grey duration-150"
            href="https://www.instagram.com/mupa_cl/"
            target="_blank"><InstagramIcon size="34" /></a
          >
        </li>
        <li>
          <a
            class="hover:text-light-grey duration-150"
            href="https://www.youtube.com/@mupa.arquitecturalocal"
            target="_blank"><YouTubeIcon size="34" /></a
          >
        </li>
      </ul>
    </div>
  </div>
  <InstitucionalLogos />
</footer>
