---
import InstitucionalLogos from "@components/InstitucionalLogos.astro";
---

<footer class="h-fit w-full flex items-end justify-center">
  <!-- <p class="font-light font-source-code text-light-grey hidden xl:block">
    Desarrollado con ❤️ por StrocsDev
  </p> -->
  <InstitucionalLogos />
</footer>
