---
import Logo from "./Logo.astro";
import NavLink from "./NavLink.astro";

const { size } = Astro.props;
---

<header class=`w-full h-10 flex items-center justify-between`>
  <Logo />
  <nav class="flex gap-6 flex-shrink-0">
    <NavLink href="/">inicio</NavLink>
    <NavLink href="/">el proyecto</NavLink>
    <NavLink href="/">arquitectas</NavLink>
    <NavLink href="/">equipo</NavLink>
  </nav>
</header>
