---
import SocialMediaLinks from "./SocialMediaLinks.astro";
---

<header class="w-fit px-16 h-16 flex flex-col gap-2 items-center">
  <h2 class="font-source-code text-2xl text-dark-grey">Próximamente</h2>
  <SocialMediaLinks />
</header>
