---
import Logo from "./Logo.astro";
import NavLink from "./NavLink.astro";
---

<header class="w-full flex items-center px-16 h-16 justify-between gap-8 fixed">
  <Logo />
  <nav class="flex justify-center gap-8 text-dark-grey text-xl font-helvetica">
    <NavLink title="inicio" href="/" />
    <NavLink title="el proyecto" href="/" />
    <NavLink title="arquitectas" href="/" />
    <NavLink title="equipo" href="/" />
  </nav>
</header>
