---
import Logo from "./Logo.astro";
import NavLink from "./NavLink.astro";

const { logo = true } = Astro.props;
---

<header class="w-full grid grid-cols-2 place-content-between relative">
  {logo && <Logo />}
  <nav class="flex gap-6 flex-shrink-0 w-fit absolute right-0">
    <NavLink href="/">inicio</NavLink>
    <NavLink href="/">el proyecto</NavLink>
    <NavLink href="/">arquitectas</NavLink>
    <NavLink href="/">equipo</NavLink>
  </nav>
</header>
