---
import Arquitomicas from "./icons/Arquitomicas.astro";
import CA from "./icons/CA.astro";
import LaSerena from "./icons/LaSerena.astro";
import MINCAP from "./icons/MINCAP.astro";
import UCENTRAL from "./icons/UCENTRAL.astro";
import ULS from "./icons/ULS.astro";
---

<section
  class="text-dark-grey flex flex-col lg:flex-row font-source-code lg:items-start gap-4 lg:gap-16 self-center flex-shrink-0"
>
  <div class="flex flex-col gap-2 lg:gap-4">
    <p class="text-light-grey text-center text-sm">Financia</p>
    <ul class="flex gap-6 w-full items-end justify-center flex-wrap">
      <li>
        <MINCAP className="h-12 lg:h-14" />
      </li>
    </ul>
  </div>
  <div class="flex flex-col gap-2 lg:gap-6 items-center lg:items-start">
    <p class="text-light-grey text-center text-sm">Colaboran</p>
    <ul
      class="flex gap-x-4 gap-y-2 w-full items-center justify-center lg:justify-start flex-wrap"
    >
      <li class="w-14 lg:w-20">
        <Arquitomicas />
      </li>
      <li>
        <LaSerena />
      </li>
      <li class="w-32 lg:w-44">
        <CA />
      </li>
      <li class="w-20 lg:w-24">
        <UCENTRAL />
      </li>
      <li class="w-32 lg:w-44">
        <ULS />
      </li>
    </ul>
  </div>
</section>
