---
import Mupashapes from "./MupaShapes.astro";

interface SizeVariants {
  size?: string;
}

const { size = "mini" }: SizeVariants = Astro.props;

let sizeStyle =
  size === "mini"
    ? "max-w-[6rem]"
    : "max-w-[14rem] md:max-w-[24rem] xl:max-w-[30rem]";
---

<div class="flex items-center w-full sm:justify-center">
  <a
    href="/"
    class=`w-full ${sizeStyle} flex flex-col items-end gap-4 group flex-shrink-0`
  >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 479.55 166.84">
      <g>
        <path
          class="fill-light-grey"
          d="m26.94,1.66l.92,10.57C34.23,4.08,42.81,0,53.57,0c11.37,0,19.06,4.52,23.05,13.57,6.1-9.04,14.92-13.57,26.46-13.57,18.25,0,27.63,11.04,28.13,33.12v58.59h-28.13v-56.84c0-4.6-.78-7.96-2.33-10.07-1.55-2.11-4.38-3.16-8.49-3.16-5.55,0-9.68,2.47-12.4,7.41l.08,1.17v61.5h-28.13v-56.67c0-4.71-.75-8.13-2.25-10.24-1.5-2.11-4.36-3.16-8.57-3.16-5.38,0-9.49,2.47-12.32,7.41v62.67H.64V1.66h26.3Z"
        ></path>
        <path
          class="fill-light-grey"
          d="m200.87,81.97c-5.94,7.6-13.95,11.4-24.05,11.4s-17.35-2.87-22.43-8.61c-5.08-5.74-7.61-13.99-7.61-24.76V1.66h28.05v58.51c0,7.71,3.75,11.57,11.23,11.57,6.44,0,11.01-2.3,13.73-6.91V1.66h28.21v90.05h-26.3l-.83-9.74Z"
        ></path>
      </g>
      <g>
        <path
          class="fill-dark-grey"
          d="m343.89,87.87c0,13.98-3.15,25.15-9.45,33.5-6.3,8.35-14.8,12.52-25.51,12.52-8.27,0-15.06-3.02-20.39-9.07v42.03h-28.05V42.18h26.22l.83,8.32c5.38-6.66,12.46-9.99,21.22-9.99,11.1,0,19.72,4.09,25.88,12.28,6.16,8.18,9.24,19.43,9.24,33.75v1.33Zm-28.05-1.75c0-15.98-4.66-23.97-13.98-23.97-6.66,0-11.1,2.39-13.32,7.16v35.45c2.44,4.99,6.94,7.49,13.48,7.49,8.93,0,13.54-7.71,13.82-23.14v-3Z"
        ></path>
        <path
          class="fill-dark-grey"
          d="m406.98,132.22c-1-1.83-1.89-4.52-2.66-8.07-5.16,6.49-12.37,9.74-21.64,9.74-8.49,0-15.7-2.57-21.64-7.7-5.94-5.13-8.9-11.58-8.9-19.35,0-9.76,3.61-17.14,10.82-22.14,7.21-4.99,17.7-7.49,31.46-7.49h8.66v-4.77c0-8.31-3.58-12.46-10.74-12.46-6.66,0-9.99,3.29-9.99,9.87h-28.05c0-8.7,3.7-15.77,11.11-21.2,7.41-5.43,16.85-8.15,28.34-8.15s20.56,2.8,27.21,8.41c6.66,5.6,10.07,13.29,10.24,23.05v39.86c.11,8.27,1.39,14.59,3.83,18.98v1.41h-28.05Zm-17.56-18.31c3.5,0,6.39-.75,8.7-2.25,2.3-1.5,3.95-3.19,4.95-5.08v-14.4h-8.16c-9.77,0-14.65,4.38-14.65,13.15,0,2.55.86,4.62,2.58,6.2,1.72,1.58,3.91,2.37,6.57,2.37Z"
        ></path>
      </g>
      <path
        class="fill-pink"
        d="m464.07,105.01c4.44,0,8.13,1.32,11.07,3.95,2.94,2.64,4.41,6.01,4.41,10.11s-1.47,7.48-4.41,10.11c-2.94,2.64-6.63,3.95-11.07,3.95s-8.2-1.33-11.11-3.99c-2.91-2.66-4.37-6.02-4.37-10.07s1.46-7.41,4.37-10.07c2.91-2.66,6.62-3.99,11.11-3.99Z"
      ></path>
      <path
        class="fill-dark-grey stroke-dark-grey stroke-[10] group-hover:rotate-[6deg] group-hover:scale-x-105 transition-transform duration-150"
        d="m228.14,115.01c-75.86,8.65-151.71,17.3-227.57,25.95"></path>
    </svg>
    {
      size === "large" && (
        <div class="md:w-[46%] grid gap-4">
          <strong class="text-light-grey">
            Mujeres, patrimonio y arquitectura local.
          </strong>
          <p class="font-light text-sm text-light-grey max-w-[10rem]">
            Presencia femenina en las ciudades de La Serena y Coquimbo.
          </p>
        </div>
      )
    }
  </a>
  <Mupashapes />
</div>
