---
import { LEAD_ARCHITECTS } from "@data/lead-architects";
import Dropdown from "./Dropdown.astro";
import NavItem from "./NavItem.astro";

const ReferentesList = LEAD_ARCHITECTS.map(({ short_name }) => short_name);
---

<nav role="navigation" class="w-fit absolute right-0 md:block hidden">
  <ul class="flex gap-6 flex-shrink-0 w-fit group/nav">
    <NavItem underline href="/">inicio</NavItem>
    <NavItem underline href="/">el proyecto</NavItem>
    <NavItem>
      referentes <Dropdown slot="dropdown" list={ReferentesList} />
    </NavItem>
    <NavItem underline href="/">vitalicias</NavItem>
    <NavItem underline href="/">equipo</NavItem>
  </ul>
</nav>
