---
interface Props {
  underline?: boolean;
  href?: string;
}

const { underline = false, href }: Props = Astro.props;
---

<li
  class="w-fit text-dark-grey font-source-code group/link group-hover/nav:opacity-60 hover:!opacity-100 transition-opacity duration-150 cursor-pointer relative group/dropdown"
>
  {
    !!href ? (
      <a {...Astro.props} href={href}>
        <slot />
      </a>
    ) : (
      <>
        <button {...Astro.props} class="flex items-end gap-1">
          <slot />
          <svg
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
        <slot name="dropdown" />
      </>
    )
  }
  {
    underline && (
      <div class="bg-light-grey h-[1px] w-0 group-hover/link:w-full transition-[width] duration-150" />
    )
  }
</li>
