---
const { description } = Astro.props;
const descriptionSplited = description.split("\n");
---

<div class="grid gap-4">
  {
    descriptionSplited.map((description: string) => {
      const textBoldSplitted = description.split("\f");

      return (
        <p>
          {textBoldSplitted.map((text, index) => {
            if (index % 2 === 0) {
              return text;
            }
            return (
              <a
                class="text-red -ml-[.3ch]"
                id={`${text}_ref`}
                href={"#" + text}
                aria-labelledby="notes_heading"
              >
                <sup>{text}</sup>
              </a>
            );
          })}
        </p>
      );
    })
  }
</div>
