---
import InstagramIcon from "./icons/InstagramIcon.astro";
---

<a
  class="flex items-center gap-2 text-dark-grey w-fit cursor-pointer font-source-code hover:bg-dark-grey hover:text-white shadow-md rounded-lg py-1 px-4 duration-150 transition-all whitespace-nowrap"
  href="https://www.instagram.com/mupa_cl/"
>
  Descubre más <InstagramIcon size="30" />
</a>
