---
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  overflow?: boolean;
}

const { title, overflow = false } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Visibilizando el legado femenino en la producción arquitectónica de las ciudades de La Serena y Coquimbo."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{"MUPA | " + title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <ViewTransitions fallback="none" />
  </head>
  <body class="w-full flex flex-col min-h-[100dvh] p-4 sm:p-8 scroll-smooth">
    <div
      aria-hidden="true"
      class=`w-full grow bg-white max-w-screen-2xl rounded-2xl m-auto relative flex flex-col justify-between ${overflow ? 'overflow-x-hidden' : ''}`
    >
      <slot />
    </div>
    <style is:global>
      html {
        background: url("/background.png") no-repeat fixed center;
        background-size: cover;
        /* font-family: "Helvetica", Helvetica, "Arial Narrow", Arial, sans-serif; */
        font-family:
          "Helvetica",
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          sans-serif;
        height: 100%;
        width: 100%;
      }

      @font-face {
        font-family: "Helvetica";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("/fonts/HelveticaNeueCyr-Roman.woff2") format("woff2");
      }
      @font-face {
        font-family: "Helvetica";
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url("/fonts/HelveticaNeueCyr-Medium.woff2") format("woff2");
      }
      @font-face {
        font-family: "Helvetica";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url("/fonts/HelveticaNeueCyr-Bold.woff2") format("woff2");
      }
      @font-face {
        font-family: "Helvetica";
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url("fonts/HelveticaNeueCyr-heavy.woff2") format("woff2");
      }

      .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }

      .scrollbar-hide::-webkit-scrollbar {
        display: none;
      }

      ::-webkit-scrollbar {
        width: 0.5rem;
      }

      ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background: #d6a6bd;
      }
      ::-webkit-scrollbar-thumb:window-inactive {
        background: #999;
      }
    </style>
  </body>
</html>
