---
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  overflow?: boolean;
  bg?: string;
}

const { title, overflow = false, bg = "default" } = Astro.props;

const BG_PATH = `url(/${bg}.png)`;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Visibilizando el legado femenino en la producción arquitectónica de las ciudades de La Serena y Coquimbo."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{"MUPA | " + title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <meta property="og:url" content="https://somosmupa.cl" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="MUPA | Mujeres, patrimonio y arquitectura local"
    />
    <meta
      property="og:description"
      content="Visibilizando el legado femenino en la producción arquitectónica de las ciudades de La Serena y Coquimbo."
    />
    <meta property="og:image" content="/OG.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="somosmupa.cl" />
    <meta property="twitter:url" content="https://somosmupa.cl" />
    <meta
      name="twitter:title"
      content="MUPA | Mujeres, patrimonio y arquitectura local"
    />
    <meta
      name="twitter:description"
      content="Visibilizando el legado femenino en la producción arquitectónica de las ciudades de La Serena y Coquimbo."
    />
    <meta name="twitter:image" content="/OG.png" />
    <ViewTransitions fallback="none" />
  </head>
  <body
    class="w-full flex flex-col min-h-[100dvh] p-4 sm:p-8 scroll-smooth font-helvetica"
  >
    <div
      aria-hidden="true"
      class=`w-full grow bg-white max-w-screen-2xl rounded-2xl m-auto relative flex flex-col justify-between shadow shadow-lg ${overflow ? 'overflow-x-hidden' : ''}`
    >
      <slot />
    </div>
    <style define:vars={{ BG_PATH }}>
      html {
        background: var(--BG_PATH) no-repeat fixed top left;
      }
    </style>
    <style is:global>
      html {
        background-size: cover;
        height: 100%;
        width: 100%;
      }

      @font-face {
        font-family: "Helvetica";
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url("/fonts/Helvetica LT Std Light.woff2") format("woff2");
      }
      @font-face {
        font-family: "Helvetica";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("/fonts/Helvetica LT Std Roman.woff2") format("woff2");
      }
      @font-face {
        font-family: "Helvetica";
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url("/fonts/Helvetica LT Std Bold.woff2") format("woff2");
      }

      .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }

      .scrollbar-hide::-webkit-scrollbar {
        display: none;
      }

      ::-webkit-scrollbar {
        width: 0.5rem;
      }

      ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background: #d6a6bd;
      }
      ::-webkit-scrollbar-thumb:window-inactive {
        background: #999;
      }
    </style>
  </body>
</html>
